{:pom
 {:group-id "org.danielsz",
  :artifact-id "nolipservice",
  :version "1.0.2-SNAPSHOT",
  :name "Open Source Software, not a lip service"},
 :packaging
 {:uberjar
  {:enabled false},
  :jar
  {:enabled true,
   :remote-repository
   {:id "clojars"
    :url "https://clojars.org/repo"}}},
 :cljs
 {:enabled false}}
